@import "bootstrap-sprockets";
@import "bootstrap";

.score {
  display: inline-block;
  margin: 0 15px 15px 0;
  background-color: rgba(183, 228, 138, 0.1);
  box-shadow: 3px 5px 12px #888;
}

.students {
  display: inline-block;
  padding: 5px 10px 0 10px;
  margin: 0 15px 15px 0;
  background-color: rgba(183, 228, 138, 0.5);
  box-shadow: 3px 5px 12px 1px #888;
}

.batches {
  display: inline-block;
  padding: 5px 10px 0 10px;
  margin: 0 15px 15px 0;
  background-color: rgba(183, 228, 138, 0.5);
  box-shadow: 3px 5px 12px 1px #888;
}
